# Server Configuration
PORT=3000

# Baza de date MySQL (Modifică dacă ai alte date local)
DB_HOST=localhost
DB_USER=root
DB_PASS=root
DB_NAME=restaurant_db

# JWT Security
JWT_SECRET=introduce_o_cheie_secreta_pentru_jwt

# Google OAuth (Trebuie create în Google Cloud Console)
GOOGLE_CLIENT_ID=introdu_aici_google_client_id
GOOGLE_CLIENT_SECRET=introdu_aici_google_client_secret

# Session
SESSION_SECRET=introdu_o_cheie_secreta_pentru_sesiune
